<p>
<h2><span class="little"><%=@blog.created_at.to_s(:little)%></span><br/><%= link_to h(@blog.title), blog_path(@blog)%> <%= edit_delete_link(edit_blog_path(@blog), @blog) %></h2>  
<%= @blog.content %>
</p>



<%= link_to 'Назад', blogs_path %>
