<br/>
<h1>Портфолио (<%= link_to image_tag("create.png"), new_portfolio_path %>)</h1>

<% for portfolio in @portfolios %>
<p>
<h2><%= link_to h(portfolio.title), portfolio_path(portfolio)%> (<%= link_to image_tag("edit.png"), edit_portfolio_path(portfolio) %> | <%= link_to image_tag("delete.png"), portfolio, :confirm => 'Are you sure?', :method => :delete %>)</h2>  
<%=cut_text portfolio.content, portfolio_path(portfolio) %>
<% portfolio.tag_counts.each do |tag|%>
	<%=link_to h(tag.name), tag_portfolio_path(tag.name), :class=>"tag"%>
<%end unless portfolio.tag_counts.nil? %>
</p>   
<br/>
<% end %>
<p>
	<%=will_paginate @portfolios%>
</p>

