<p>
<h2><span class="little"><%=@portfolio.created_at.to_s(:little)%></span><br/><%= link_to h(@portfolio.title), portfolio_path(@portfolio)%> <%= edit_delete_link(edit_portfolio_path(@portfolio), @portfolio)%></h2>  
<%= @portfolio.content %>
</p>


<%= link_to 'Назад', portfolios_path %>
