<h1>Редактировать контакты</h1><br/>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Содержание" %><br />
    <%= f.text_area :content, :style=>"width:700px;height:500px" %>
  </p>
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

<%= link_to 'Назад', contacts_path %>
