<h1>Редактировать бигборд (1001px X 260px)</h1><br/>

<% form_for :bigbord, :url=>abouts_path, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "URL" %><br />
    <%= f.text_field :title, :style=>"width:400px" %>
  </p>
  <p>
    <%= f.label "Файл" %><br />
    <%= f.file_field :uploaded_data %>
  </p>
  
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>


<h1>Редактировать о компании</h1><br/>

<% form_for(@about) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Содержание" %><br />
    <%= f.text_area :content, :style=>"width:700px;height:500px" %>
  </p>
  
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

<hr/>



<%= link_to 'Назад', abouts_path %>
