<h1>Редактировать бигборд</h1><br/>

<% form_for :bigbord, @bigbord, :url=>"/abouts/update_bigbord/1" do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Содержание" %><br />
    <%= f.text_area :content, :style=>"width:700px;height:220px" %>
  </p>
  
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>


<h1>Редактировать о компании</h1><br/>

<% form_for(@about) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Содержание" %><br />
    <%= f.text_area :content, :style=>"width:700px;height:500px" %>
  </p>
  
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

<hr/>



<%= link_to 'Назад', abouts_path %>
