<br/>
<h1>Продукты <%=create_link(new_product_path)%></h1>

<% for product in @products %>
<p>
<h2><%= link_to h(product.title), product_path(product)%> <%= edit_delete_link(edit_product_path(product), product) %></h2>  
<%=cut_text product.content, product_path(product), 1 %>
<% product.tag_counts.each do |tag|%>
	<%=link_to h(tag.name), tag_product_path(tag.name), :class=>"tag"%>
<%end unless product.tag_counts.nil? %>
</p>   

<% end %>
<p>
	<%=will_paginate @products%>
</p>

