<p>
<h2><span class="little"><%=@product.created_at.to_s(:little)%></span><br/><%= link_to h(@product.title), product_path(@product)%> <%= edit_delete_link(edit_blog_path(@product), @product) %></h2>  
<%= @product.content %>
</p>


<%= link_to 'Назад', products_path %>
