<%=render :partial => "includes/header"%>

<div id="wrap">	
	<div id="main" class="clearfix">	
<div class="container">
<div class="column span-24 first last">
	<div class="about_title" style="width:414px"><%=link_to image_tag("dnk_logo.gif"), "/"%></div>
	<div class="about_title" style="float:right;padding-top:35px;padding-right:35px;"><span class="little">звонить по телефону</span> <span class="big"><span style="color:#aeaeae">(044)</span> 581 38 98</span><br/><%=logout_path%><br/><%=imagesuppl_path%></div>
	
	<div class="main_menu">
		<%=render :partial => "includes/menu"%>
	</div>
</div>



<div class="column span-24 first last">
<div class="clear-10">&nbsp;</div>		
		<%=link_to image_tag(@bigbord.public_filename), (@bigbord.title.nil? ? "/" : @bigbord.title) if @bigbord and !@bigbord.filename.nil?%>
		<div class="column span-17 first" style="padding-left:25px;">
			<%=yield%>
				<div class="clear-10">&nbsp;</div>
		</div>
		<div class="column span-6 last">
			<br/>
			<%=image_tag "categories.gif"%>
			<p style="padding-left:10px;">
			
			<% Blog.tag_counts.each do |tag|%>
				<%=link_to h(tag.name), tag_blog_path(tag.name), :class=>"left_link"%><br/>
			<%end unless Blog.tag_counts.nil? %>
			<%=params[:controller]=="portfolios" ? link_to("Новости", blogs_path, :class=>"left_link") : link_to("Портфолио", portfolios_path, :class=>"left_link")%><br/>
			</p>
		<%=createbanner_link(new_minibanner_path) %><br/>
		<% @minibanners = Minibanner.all%>
		<% @minibanners.each do |minibanner|%>
		  <%=link_to image_tag(minibanner.public_filename), minibanner.link unless minibanner.filename.nil? || minibanner.link.nil? %>
		 <%=minidelete_link(minibanner)%>
		<br/>
		<% end unless @minibanners.empty?%>
		
		</div>
</div>
</div>
</div>
</div>

<%=render :partial => "includes/footer"%>