<%=render :partial => "includes/header"%>
<div class="column span-24 first last">
<div class="clear-10">&nbsp;</div>		
		<%=link_to image_tag(@bigbord.public_filename), (@bigbord.title.nil? ? "/" : @bigbord.title) if @bigbord and !@bigbord.filename.nil?%>
		<div class="column span-17 first" style="padding-left:25px;">
			<%=yield%>
				<div class="clear-10">&nbsp;</div>
		</div>
		<div class="column span-6 last">
			<br/>
			<br/>
		<%=createbanner_link(new_minibanner_path) %><br/>
		<% @minibanners = Minibanner.all%>
		<% @minibanners.each do |minibanner|%>
		  <%=link_to image_tag(minibanner.public_filename), minibanner.link unless minibanner.filename.nil? || minibanner.link.nil? %>
		 <%=minidelete_link(minibanner)%>
		<br/>
		<% end unless @minibanners.empty?%>
		</div>
</div>
<%=render :partial => "includes/footer"%>