<%=render :partial => "includes/header"%>
<div class="column span-24 first last">
<div class="clear-10">&nbsp;</div>		
		<%=image_tag @bigbord.public_filename if @bigbord and !@bigbord.filename.nil?%>
		<div class="column span-17 first" style="padding-left:25px;">
			<%=yield%>
				<div class="clear-10">&nbsp;</div>
		</div>
		<div class="column span-6 last">
			<br/>
			<br/>
		(<%= link_to "Добавить банер"+image_tag("create.png"), new_minibanner_path %>)<br/>
		<% @minibanners = Minibanner.all%>
		<% @minibanners.each do |minibanner|%>
		  <%=link_to image_tag(minibanner.public_filename), minibanner.link unless minibanner.filename.nil? || minibanner.link.nil? %>
		  <%=link_to image_tag("delete.png"), minibanner, :confirm => 'Are you sure?', :method => :delete %>
		<br/>
		<% end unless @minibanners.empty?%>
		</div>
</div>
<%=render :partial => "includes/footer"%>